[Unit]
Description=Send Request Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/PocketFi/app.py
WorkingDirectory=/root/PocketFi/
Restart=always
StandardOutput=append:/root/PocketFi/PocketFi_service.out.log
StandardError=append:/root/PocketFi/PocketFi_service.err.log
SyslogIdentifier=PocketFi_service

[Install]
WantedBy=multi-user.target

