
Description=Send Request Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/pocketfi/app.py
WorkingDirectory=/root/pocketFi/
Restart=always
RestartSec=5s
StartLimitInterval=30s
StartLimitBurst=3 
SyslogIdentifier=pocketFi_service

[Install]
WantedBy=multi-user.target
